@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins, sans-serif;
    background: #364253;
    color: #dadce7;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

#app {
    background: #fff;
    border-radius: 0.4rem;
    padding: 1.5rem 0rem;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
}

form input {
    border: none;
    font-size: 1.3rem;
    font-weight: 100;
    background-color: #e0e0e0;
    border-radius: 20px;
    color: #000;
    text-align: center;
    width: max-content;
    height: 40px;
    outline: none;
    padding: 0;
}

form input::placeholder {
    color: #969696;
    text-align: center;
}

form button {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5rem;
    border: none;
    width: max-content;
    font-size: 1.3rem;
    background: linear-gradient(to right, #00b09b,#96c93d);
    font-weight: 100;
    outline: none;
    cursor: pointer;
}

main {
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 1s;
}

p:nth-child(1) {
    padding-top: 1.3rem;
}

p {
    color: #00b09b;
    font-size: 1.1rem;
    margin: 0.6rem 0;
}

#app main .error {
    color: #dd4048;
    font-size: 1.1rem;
    margin: 0.6rem 0;
}